PORT=3000
USE_REDIS=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
OPENAI_API_KEY=XX

# Salesforce — Connected App (sandbox = test org par défaut)
SF_CLIENT_ID=
SF_CLIENT_SECRET=
SF_ENV=sandbox
SF_LOGIN_URL=
SF_USERNAME=
SF_SECURITY_TOKEN=
