{
  "ti": "TENANT_ID",
  "cn": "NOM_CONNEXION",
  "dt": "12",
  "ci": "CLIENT_ID",
  "cs": "CLIENT_SECRET",
  "iu": "https://ionapi.hostname/TENANT/",
  "pu": "service_account_user",
  "saak": "service_account_access_key",
  "sask": "service_account_secret_key",
  "oa": "https://hostname/TENANT/as/token.oauth2",
  "ob": "https://hostname/TENANT/as/authorization.oauth2",
  "oc": "https://hostname/TENANT/as/revoke_token.oauth2",
  "od": "https://hostname/TENANT/as/userinfo.oauth2",
  "oe": "https://hostname/TENANT/as/end_session.oauth2",
  "or": "https://hostname/TENANT/as/token.oauth2",
  "version": "1.0"
}
